@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 150px;
  height: 70px;
}

#logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  cursor: pointer;
  text-transform: uppercase;
}

#logo h1 {
  font-size: 1.2vw;
  font-weight: 900;
  letter-spacing: 0.1vw;
}

#url {
  display: flex;
  gap: 40px;
}

#url ul {
  list-style: none;
}

#url ul li {
  cursor: pointer;
  font-size: 0.85vw;
  text-transform: uppercase;
  color: #000;
  letter-spacing: 0.1vw;
  font-weight: 500;
}

#url ul a:hover {
  color: #aaa;
  transition: all 0.2s ease;
  cursor: pointer;
}

#btn button {
  padding: 12px 24px;
  letter-spacing: 0.1vw;
  text-transform: uppercase;
  font-size: 0.8vw;
  font-weight: 600;
  background-color: #000;
  color: #fff;
  border: none;
}

#btn button:hover {
  background-color: #ddd;
  color: #000;
  transition: all 0.2s ease;
  cursor: pointer;
}

#container {
  display: flex;
}

#left {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  background-color: #000;
  color: #fff;
  padding: 0 100px;
}

#left h1 {
  font-size: 3vw;
  font-weight: 500;
  line-height: 3.5vw;
  text-transform: uppercase;
  letter-spacing: 0.1vw;
}

#left p {
  font-size: 1vw;
  line-height: 1.5vw;
  color: #999;
}

#left h4 {
  text-transform: uppercase;
  padding: 10px 0;
  font-size: 0.7vw;
  word-spacing: 0.2vw;
  letter-spacing: 0.1vw;
}

#left h4:hover {
  cursor: pointer;
  text-decoration: underline;
}

#right {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#right img {
  width: 100%;
  object-fit: cover;
}

#img-section {
  display: flex;
}

#card {
  position: relative;
  width: 25%;
  padding: 30px;
  color: #fff;
  height: 400px;
}

#card:hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: all 0.3s ease;
}

#content {
  position: absolute;
  bottom: 10%;
  width: 80%;
}

#card h1 {
  font-size: 1.5vw;
  line-height: 2vw;
}

#card p {
  font-size: 0.9vw;
}

#card h2 {
  font-size: 0.8vw;
  text-transform: uppercase;
  letter-spacing: 0.1vw;
  padding-top: 18px;
  margin-top: 18px;
  width: 100%;
  border-top: 1px solid #fff;
}

#card h2:hover {
  cursor: pointer;
  text-decoration: underline;
}

#info-section {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 100px 0;
}

#contents {
  width: 25%;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#contents #img img {
  height: 120px;
  width: 120px;
}

#contents h1 {
  font-size: 1.3vw;
  padding: 20px 0;
}

#contents p {
  text-align: center;
  font-size: 1vw;
  line-height: 1.5vw;
  color: #999;
  font-weight: 400;
}

#footer {
  background-color: #000;
  height: 250px;
  display: flex;
  padding: 50px 150px;
}

#part1 {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
}

#part1 #logo {
  justify-content: flex-start;
}

#icons {
  cursor: pointer;
  display: flex;
  gap: 10px;
  font-size: 1.2vw;
}

#part2 {
  width: 50%;
}

#part2 ul {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  list-style: none;
}

#part2 ul li {
  cursor: pointer;
  color: #fff;
  font-size: 0.8vw;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.08vw;
}

#part3 {
  width: 25%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: column;
  color: #fff;
}

#part3 h4 {
  text-transform: uppercase;
  padding: 10px 0;
  font-size: 0.7vw;
  word-spacing: 0.2vw;
  letter-spacing: 0.1vw;
}

#part3 h4:hover {
  cursor: pointer;
  text-decoration: underline;
}

#part3 p {
  font-size: 0.9vw;
  color: #999;
}

#invite {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 7px;
}

@media (max-width:1024px) {
  #nav {
    padding: 0 100px;
  }

  #logo h1 {
    font-size: 1.7vw;
  }

  #url ul li {
    font-size: 1.2vw;
  }

  #btn button {
    font-size: 1vw;
  }

  #left {
    padding: 0 100px;
  }

  #left h1 {
    font-size: 3vw;
    line-height: 3.5vw;
  }

  #left p {
    font-size: 0.9vw;
    line-height: 1.3vw;
  }

  #left h4 {
    font-size: 0.5vw;
  }

  #right img {
    width: 100%;
  }

  #card {
    padding: 20px;
    height: 350px;
  }

  #card h1 {
    font-size: 1.3vw;
    line-height: 1.8vw;
  }

  #card p {
    font-size: 0.8vw;
  }

  #card h2 {
    font-size: 0.7vw;
  }

  #info-section {
    padding: 50px 0;
  }

  #contents #img img {
    height: 100px;
    width: 100px;
  }

  #contents h1 {
    font-size: 1.1vw;
  }

  #contents p {
    font-size: 0.9vw;
    line-height: 1.3vw;
  }

  #footer {
    padding: 50px;
  }

  #part1 {
    width: 30%;
  }

  #icons {
    font-size: 1vw;
  }

  #part2 ul li {
    font-size: 0.7vw;
  }

  #part3 h4 {
    font-size: 0.6vw;
  }

  #part3 p {
    font-size: 0.8vw;
  }
}

@media (max-width: 768px) {
  #nav {
    padding: 0 50px;
  }

  #logo h1 {
    font-size: 1.5vw;
  }

  #url ul li {
    font-size: 1vw;
  }

  #btn button {
    font-size: 1vw;
  }

  #left {
    padding: 0 50px;
  }

  #left h1 {
    font-size: 2vw;
    line-height: 2.5vw;
  }

  #left p {
    font-size: 0.8vw;
    line-height: 1.1vw;
  }

  #left h4 {
    font-size: 0.4vw;
  }

  #right img {
    width: 100%;
  }

  #card {
    padding: 20px;
    height: 350px;
  }

  #card h1 {
    font-size: 1.2vw;
    line-height: 1.6vw;
  }

  #card p {
    font-size: 0.7vw;
  }

  #card h2 {
    font-size: 0.6vw;
  }

  #info-section {
    padding: 50px 0;
  }

  #contents #img img {
    height: 100px;
    width: 100px;
  }

  #contents h1 {
    font-size: 0.9vw;
  }

  #contents p {
    font-size: 0.8vw;
    line-height: 1.1vw;
  }

  #footer {
    padding: 50px;
  }

  #part1 {
    width: 30%;
  }

  #icons {
    font-size: 0.8vw;
  }

  #part2 ul li {
    font-size: 0.6vw;
  }

  #part3 h4 {
    font-size: 0.5vw;
  }

  #part3 p {
    font-size: 0.7vw;
  }
}
